{
  "dns": ["10.0.0.1"],
  "proxies": {
    "default": {
      "httpProxy": "http://10.234.111.10:3128",
      "httpsProxy": "http://10.234.111.10:3128",
      "noProxy": "localhost,127.0.0.1,host.docker.internal,.local,.eurochem.ru,.tgp.eurochem.ru"
    }
  }
}
