# Copy lines into .env when building behind corporate proxy (Eurochem / Squid).
HTTP_PROXY=http://usl-kwts02.usl.eurochem.ru:3128
HTTPS_PROXY=http://usl-kwts02.usl.eurochem.ru:3128
NO_PROXY=localhost,127.0.0.1,host.docker.internal,.local,.eurochem.ru,.usl.eurochem.ru
