ACTIVE_MINSTROY_DESIGN_ASSIGNMENT_SCHEMA_VERSION=v01_00
OCR_LANGUAGE=rus+eng
OCR_DPI=300
OCR_PSM_MODES=3,6
OCR_MIN_TEXT_LAYER_CHARS=40
OCR_QUALITY_THRESHOLD=0.55
MANDATORY_FIELD_COVERAGE_THRESHOLD=0.85
